:root {
    --nav-bar: #282828;
    --text-HeadC1: #cbff5a;
    --text-HeadC2: #ffffff;
    --fontF1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --fontF2: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #dfdfdf;
}

.header {
    padding: 20px;
    font-family: var(--fontF1);
    background-color: var(--nav-bar);
    color: var(--text-HeadC1);
}

.header h1 {
    display: inline-block;
    font-size: 70px;
    color: var(--text-HeadC1);
}

.header div {
    padding-top: 0px;
    margin-right: 25px;
    float: right;
    font-family: var(--fontF2);
    font-size: 40px;
    color: var(--text-HeadC2);
}

.header div {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210803/pngtree-green-yellow-hd-background-free-vector-image-pngtree-eps-image_757337.jpg');
    background-size: cover;
    background-position: center;
}

.About-Me {
    float: left;
    font-size: 50px;
    font-family: var(--fontF2);
    position:absolute; top: 425px; 
    color: var(--nav-bar)
}

.Works {
    margin-top: 50px;
    padding: 0px;
    float:left;
    font-size:40px;
    font-family:var(--fontF2);
    color:var(--nav-bar);
}

.Resume {
    margin-top: 100px;
    float: left;
    font-size: 50px;
    font-family: var(--fontF2);
    color: var(--nav-bar);
}

.Contact-Me {
    margin-top: 200px;
    padding: 200px;
    clear: both;
    float: left;
    font-size: 40px;
    font-family: var(--fontF2);
    color: var(--nav-bar);
}

.footer {
    padding: 10px;
    font-size: 5px;
    clear: both;
    text-align: center;
    font-family: var(--fontF2);
    position: absolute: 10px;
    color: var(--nav-bar);
}
